.js_1{
	margin:10px;
	padding:20px;
	border:2px solid;

}
.js_2{
	overflow: hidden;
	
}
.slick_images{
	margin:2%;
}
.slick_test{

}
.parallax-window {
	min-height: 500px;
	background: transparent;
}
.parallax_text{
	
	color:white;
}
